In [1]:
#loading the data and set up the environment
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
train_datapath = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\train.csv"
train = pd.read_csv(train_datapath,)

magnetic_shielding_tensors_datapath = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\magnetic_shielding_tensors.csv"
mst = pd.read_csv(magnetic_shielding_tensors_datapath)

dipolemoment_datapath = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\dipole_moments.csv"
dm = pd.read_csv(dipolemoment_datapath)

test_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\test.csv"
test = pd.read_csv(test_path, )

mulliken_charge_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\mulliken_charges.csv"
mc = pd.read_csv(mulliken_charge_path)

potentialenergy_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\potential_energy.csv"
pe = pd.read_csv(potentialenergy_path)

scalar_coupling_contributions_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\scalar_coupling_contributions.csv"
scc = pd.read_csv(scalar_coupling_contributions_path)

structures_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\structures.csv"
structures = pd.read_csv(structures_path)

In [2]:
train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4658147 entries, 0 to 4658146
Data columns (total 6 columns):
id                          int64
molecule_name               object
atom_index_0                int64
atom_index_1                int64
type                        object
scalar_coupling_constant    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 213.2+ MB

In [4]:
test.head()

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658148  dsgdb9nsd_000004             2             1  1JHC
2  4658149  dsgdb9nsd_000004             2             3  3JHH
3  4658150  dsgdb9nsd_000004             3             0  1JHC
4  4658151  dsgdb9nsd_000004             3             1  2JHC

In [5]:
train.columns

Index(['id', 'molecule_name', 'atom_index_0', 'atom_index_1', 'type',
       'scalar_coupling_constant'],
      dtype='object')

In [6]:
train.columns = ['id', 'molecule_name', 'atom_index', 'atom_index_1', 'type',
       'scalar_coupling_constant']

In [7]:
mc.columns

Index(['molecule_name', 'atom_index', 'mulliken_charge'], dtype='object')

In [8]:
mst.columns

Index(['molecule_name', 'atom_index', 'XX', 'YX', 'ZX', 'XY', 'YY', 'ZY', 'XZ',
       'YZ', 'ZZ'],
      dtype='object')

In [9]:
train.head(10)

,id,molecule_name,atom_index,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074
5,5,dsgdb9nsd_000001,2,3,2JHH,-11.2541
6,6,dsgdb9nsd_000001,2,4,2JHH,-11.2548
7,7,dsgdb9nsd_000001,3,0,1JHC,84.8093
8,8,dsgdb9nsd_000001,3,4,2JHH,-11.2543
9,9,dsgdb9nsd_000001,4,0,1JHC,84.8095

In [10]:
trainindex = train['atom_index'].tolist()
trainname = train['molecule_name'].tolist()

In [11]:
i = 0
a = []
b = 1
c = 0
for i in range(0,4658146):
    f = 1   
    if trainindex[c] == trainindex[c + 1] and trainname[c] == trainname[c+1]:
        a.append(b)
        c += 1
        i += 1
    else:
        a.append(b)
        if trainname[c]!=trainname[1+c]:
            b += 1
            o = 0
            if trainindex[c+1] > trainindex[c]:
                b = b + (trainindex[c+1]-trainindex[c])
                o += 1
            if f < trainindex[c+1+o]:
                b = (trainindex[c+1+0]-f) + b
                f += 1
        b += 1
        c += 1
        i += 1

In [12]:
a.append(a[4658145])
indices = a
cols =  ['atom_index','XX', 'YX', 'ZX', 'XY', 'YY', 'ZY', 'XZ','YZ', 'ZZ']
mst1 = mst.loc[indices, cols]

In [13]:
mst1.head()

,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
1,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
1,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
1,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
1,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
2,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967

In [14]:
indices = a
cols =  ['atom_index', 'mulliken_charge']
mc1 = mc.loc[indices, cols]

mc1.head()

In [15]:
mc1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4658147 entries, 1 to 1532114
Data columns (total 2 columns):
atom_index         int64
mulliken_charge    float64
dtypes: float64(1), int64(1)
memory usage: 106.6 MB

In [16]:
mst1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4658147 entries, 1 to 1532114
Data columns (total 10 columns):
atom_index    int64
XX            float64
YX            float64
ZX            float64
XY            float64
YY            float64
ZY            float64
XZ            float64
YZ            float64
ZZ            float64
dtypes: float64(9), int64(1)
memory usage: 390.9 MB

In [17]:
#        A
#        L
#        L
#
#        D
#        O
#        N
#        E
#
#        T
#        I
#        L
#        L
#
#        H
#        E
#        R
#        E


#the first atom's data in the atom pair is done.
#time for the second one
trainindex1 = train['atom_index_1'].tolist()

In [18]:
print(trainindex1[0])
print(trainindex1[1])
print(trainindex1[1]-trainindex1[0])
x = 0
y = 0
z = 0
w = []
v = 0
for x in range(0,4658145):
    w.append(y)
    if trainindex1[x+1]>trainindex1[x] and trainname[x] == trainname[x+1]:
        y = y+(trainindex1[x+1]-trainindex1[x])
    else:
        y = v
    if trainindex1[x+1]<=trainindex1[x]:
        v += 1
    if trainname[x+1] != trainname[x]:
        if trainindex1[x+1]<=trainindex1[x]:
            v -= 1
        v += 2
        y = v
    p = 0
    if p < trainindex1[x+1] and trainname[x+1] != trainname[x]:
        v = v + trainindex1[x+1]
        y = v
        
    x += 1

0
2
2

In [19]:
w.append(w[4658144])
w.append(w[4658145])
indices = w
cols =  ['atom_index','XX', 'YX', 'ZX', 'XY', 'YY', 'ZY', 'XZ','YZ', 'ZZ']
mst2 = mst.loc[indices, cols]

In [20]:
mst2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4658147 entries, 0 to 890427
Data columns (total 10 columns):
atom_index    int64
XX            float64
YX            float64
ZX            float64
XY            float64
YY            float64
ZY            float64
XZ            float64
YZ            float64
ZZ            float64
dtypes: float64(9), int64(1)
memory usage: 390.9 MB

In [21]:
indices = w
cols =  ['atom_index', 'mulliken_charge']
mc2 = mc.loc[indices, cols]

In [22]:
mc2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4658147 entries, 0 to 890427
Data columns (total 2 columns):
atom_index         int64
mulliken_charge    float64
dtypes: float64(1), int64(1)
memory usage: 106.6 MB

In [23]:
#till now both first atom and the second atom's mst and mc is done

In [24]:
#now try to take distance into consideration
structures.head()

      molecule_name  atom_index atom         x         y         z
0  dsgdb9nsd_000001           0    C -0.012698  1.085804  0.008001
1  dsgdb9nsd_000001           1    H  0.002150 -0.006031  0.001976
2  dsgdb9nsd_000001           2    H  1.011731  1.463751  0.000277
3  dsgdb9nsd_000001           3    H -0.540815  1.447527 -0.876644
4  dsgdb9nsd_000001           4    H -0.523814  1.437933  0.906397

In [25]:
structures.columns

Index(['molecule_name', 'atom_index', 'atom', 'x', 'y', 'z'], dtype='object')

In [26]:
indices = a
cols =  ['atom_index', 'x', 'y', 'z']
structure1 = structures.loc[indices, cols]
indices = w
cols =  ['atom_index', 'x', 'y', 'z']
structure2 = structures.loc[indices, cols]

In [27]:
structure1.columns = ['atom_index', 'x1', 'y1', 'z1']
structure2.columns = ['atom_index', 'x2', 'y2', 'z2']

In [28]:
structure1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4658147 entries, 1 to 1532114
Data columns (total 4 columns):
atom_index    int64
x1            float64
y1            float64
z1            float64
dtypes: float64(3), int64(1)
memory usage: 177.7 MB

In [29]:
x1 = structure1['x1'].tolist()
y1 = structure1['y1'].tolist()
z1 = structure1['z1'].tolist()
x2 = structure2['x2'].tolist()
y2 = structure2['y2'].tolist()
z2 = structure2['z2'].tolist()

In [32]:
import math
distance = []
dis = 0
for dis in range (0,4658147):
    dist = math.sqrt(abs(x1[dis]-x2[dis])**2 + abs(y1[dis]-y2[dis])**2 + abs(z1[dis]-z2[dis])**2)
    distance.append(dist)
    dis += 0

In [33]:
train.insert(5,'distance',distance)

In [34]:
train.tail()

,id,molecule_name,atom_index,atom_index_1,type,distance,scalar_coupling_constant
4658142,4658142,dsgdb9nsd_133884,17,4,2JHC,3.996830,3.543450
4658143,4658143,dsgdb9nsd_133884,17,5,3JHC,3.300152,0.568997
4658144,4658144,dsgdb9nsd_133884,17,6,3JHC,3.901376,1.173370
4658145,4658145,dsgdb9nsd_133884,17,7,2JHC,3.901376,4.762010
4658146,4658146,dsgdb9nsd_133884,17,8,1JHC,3.901376,117.934000

In [35]:
mulliken_charge_1 = mc1['mulliken_charge'].tolist()
mulliken_charge_2 = mc2['mulliken_charge'].tolist()

In [36]:
train.insert(6,'mulliken_charge_1',mulliken_charge_1)

In [37]:
train.insert(7,'mulliken_charge_2',mulliken_charge_2)

In [38]:
train.tail(20)

,id,molecule_name,atom_index,atom_index_1,type,distance,mulliken_charge_1,mulliken_charge_2,scalar_coupling_constant
4658127,4658127,dsgdb9nsd_133884,15,7,3JHC,2.440658,0.127307,0.118069,6.131220
4658128,4658128,dsgdb9nsd_133884,15,8,3JHC,0.187386,0.127307,0.122212,5.124150
4658129,4658129,dsgdb9nsd_133884,16,0,3JHC,4.559007,0.124013,0.095781,4.922670
4658130,4658130,dsgdb9nsd_133884,16,1,2JHN,3.041429,0.124013,0.065987,3.719250
4658131,4658131,dsgdb9nsd_133884,16,2,3JHC,1.905185,0.124013,0.134687,8.935460
4658132,4658132,dsgdb9nsd_133884,16,3,3JHC,2.471510,0.124013,0.129949,3.545350
4658133,4658133,dsgdb9nsd_133884,16,4,3JHC,3.067239,0.124013,0.130280,-0.244777
4658134,4658134,dsgdb9nsd_133884,16,5,3JHC,2.069285,0.124013,0.129677,-0.184689
4658135,4658135,dsgdb9nsd_133884,16,6,2JHC,2.553787,0.124013,0.118069,1.025490
4658136,4658136,dsgdb9nsd_133884,16,7,1JHC,1.382303,0.124013,0.122212,99.657200
4658137,4658137,dsgdb9nsd_133884,16,8,2JHC,2.844962,0.124013,-0.407412,9.119730
4658138,4658138,dsgdb9nsd_133884,16,17,3JHH,4.548617,0.124013,0.121803,0.789559
4658139,4658139,dsgdb9nsd_133884,17,1,3JHN,2.409024,0.104738,0.065987,-0.006537
4658140,4658140,dsgdb9nsd_133884,17,2,3JHC,0.814164,0.104738,0.134687,1.944380
4658141,4658141,dsgdb9nsd_133884,17,3,2JHC,2.337199,0.104738,0.129949,0.861412
4658142,4658142,dsgdb9nsd_133884,17,4,2JHC,3.996830,0.104738,0.130280,3.543450
4658143,4658143,dsgdb9nsd_133884,17,5,3JHC,3.300152,0.104738,0.129677,0.568997
4658144,4658144,dsgdb9nsd_133884,17,6,3JHC,3.901376,0.104738,0.118069,1.173370
4658145,4658145,dsgdb9nsd_133884,17,7,2JHC,3.901376,0.104738,0.118069,4.762010
4658146,4658146,dsgdb9nsd_133884,17,8,1JHC,3.901376,0.104738,0.118069,117.934000

In [39]:
train.columns

Index(['id', 'molecule_name', 'atom_index', 'atom_index_1', 'type', 'distance',
       'mulliken_charge_1', 'mulliken_charge_2', 'scalar_coupling_constant'],
      dtype='object')

In [40]:
mst1.columns = ['atom_index', 'XX1', 'YX1', 'ZX1', 'XY1', 'YY1', 'ZY1', 'XZ1', 'YZ1', 'ZZ1']

In [41]:
mst2.columns = ['atom_index', 'XX2', 'YX2', 'ZX2', 'XY2', 'YY2', 'ZY2', 'XZ2', 'YZ2', 'ZZ2']

In [42]:
mst1.columns

Index(['atom_index', 'XX1', 'YX1', 'ZX1', 'XY1', 'YY1', 'ZY1', 'XZ1', 'YZ1',
       'ZZ1'],
      dtype='object')

In [43]:
mst2.columns

Index(['atom_index', 'XX2', 'YX2', 'ZX2', 'XY2', 'YY2', 'ZY2', 'XZ2', 'YZ2',
       'ZZ2'],
      dtype='object')

In [44]:
#now set up X and y
y = train.scalar_coupling_constant
train_features = [ 'type', 'distance','mulliken_charge_1', 'mulliken_charge_2']
mst1_features = ['XX1', 'YX1', 'ZX1', 'XY1', 'YY1', 'ZY1', 'XZ1', 'YZ1','ZZ1']
mst2_features = ['XX2', 'YX2', 'ZX2', 'XY2', 'YY2', 'ZY2', 'XZ2', 'YZ2','ZZ2']
X = train[train_features]

#train_test_split
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1)

#deal with catagorical data
from sklearn.preprocessing import LabelEncoder

label_X_train = train_X.copy()
label_X_valid = val_X.copy()#make copy to avoid chaging original data

encoder = LabelEncoder()
label_X_train['type'] = encoder.fit_transform(train_X['type'])
label_X_valid['type'] = encoder.transform(val_X['type'])#apply label encder to each column with categprical data

In [53]:
label_X_train.tail()

         type  distance  mulliken_charge_1  mulliken_charge_2
1166159     2  1.058472           0.227796           0.397618
4267653     5  0.921096           0.114491          -0.368603
491263      5  3.247891          -0.151763          -0.106102
3937352     5  5.361333           0.092617           0.093958
4322341     7  4.834793          -0.062889           0.097796

In [46]:
label_X_train.columns

Index(['type', 'distance', 'mulliken_charge_1', 'mulliken_charge_2'], dtype='object')

In [55]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
model = RandomForestRegressor(random_state = 1)
model.fit(label_X_train, train_y)
preds = model.predict(label_X_valid)
mae = mean_absolute_error(val_y, preds)
print(mae)

4.590513903604607

In [ ]:
mc1.tail(2200000)

In [ ]:
mc2.tail()