In [1]:
#loading the data and set up the environment
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
train_datapath = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\train.csv"
train = pd.read_csv(train_datapath,)

magnetic_shielding_tensors_datapath = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\magnetic_shielding_tensors.csv"
mst = pd.read_csv(magnetic_shielding_tensors_datapath)

dipolemoment_datapath = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\dipole_moments.csv"
dm = pd.read_csv(dipolemoment_datapath)

test_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\test.csv"
test = pd.read_csv(test_path, )

mulliken_charge_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\mulliken_charges.csv"
mc = pd.read_csv(mulliken_charge_path)

potentialenergy_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\potential_energy.csv"
pe = pd.read_csv(potentialenergy_path)

scalar_coupling_contributions_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\scalar_coupling_contributions.csv"
scc = pd.read_csv(scalar_coupling_contributions_path)

structures_path = r"\\icnas2.cc.ic.ac.uk\jr3418\Desktop\UROP\Predicting the molecular properties\Data\structures.csv"
structures = pd.read_csv(structures_path)

In [2]:
train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4658147 entries, 0 to 4658146
Data columns (total 6 columns):
id                          int64
molecule_name               object
atom_index_0                int64
atom_index_1                int64
type                        object
scalar_coupling_constant    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 213.2+ MB

In [4]:
test.head()

        id     molecule_name  atom_index_0  atom_index_1  type
0  4658147  dsgdb9nsd_000004             2             0  2JHC
1  4658148  dsgdb9nsd_000004             2             1  1JHC
2  4658149  dsgdb9nsd_000004             2             3  3JHH
3  4658150  dsgdb9nsd_000004             3             0  1JHC
4  4658151  dsgdb9nsd_000004             3             1  2JHC

In [5]:
train.columns

Index(['id', 'molecule_name', 'atom_index_0', 'atom_index_1', 'type',
       'scalar_coupling_constant'],
      dtype='object')

In [6]:
train.columns = ['id', 'molecule_name', 'atom_index', 'atom_index_1', 'type',
       'scalar_coupling_constant']

In [7]:
mc.columns

Index(['molecule_name', 'atom_index', 'mulliken_charge'], dtype='object')

In [8]:
mst.columns

Index(['molecule_name', 'atom_index', 'XX', 'YX', 'ZX', 'XY', 'YY', 'ZY', 'XZ',
       'YZ', 'ZZ'],
      dtype='object')

In [9]:
train.head(10)

,id,molecule_name,atom_index,atom_index_1,type,scalar_coupling_constant
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074
5,5,dsgdb9nsd_000001,2,3,2JHH,-11.2541
6,6,dsgdb9nsd_000001,2,4,2JHH,-11.2548
7,7,dsgdb9nsd_000001,3,0,1JHC,84.8093
8,8,dsgdb9nsd_000001,3,4,2JHH,-11.2543
9,9,dsgdb9nsd_000001,4,0,1JHC,84.8095

In [10]:
trainindex = train['atom_index'].tolist()
trainname = train['molecule_name'].tolist()

In [120]:
i = 0
a = []
b = 1
c = 0
for i in range(0,4658146):
    f = 1   
    if trainindex[c] == trainindex[c + 1] and trainname[c] == trainname[c+1]:
        a.append(b)
        c += 1
        i += 1
    else:
        a.append(b)
        if trainname[c]!=trainname[1+c]:
            b += 1
            o = 0
            if trainindex[c+1] > trainindex[c]:
                b = b + (trainindex[c+1]-trainindex[c])
                o += 1
            if f < trainindex[c+1+o]:
                b = (trainindex[c+1+0]-f) + b
                f += 1
            if f < trainindex[c+1+o]:
                b = (trainindex[c+1+o]-f) + b
                f += 1
            if f < trainindex[c+1+o]:
                b = (trainindex[c+1+o]-f) + b
                f += 1
            if f < trainindex[c+1+o]:
                b = (trainindex[c+1+o]-f) + b
                f += 1
        b += 1
        c += 1
        i += 1
print(a)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [121]:
a.append(a[4658145])
indices = a
cols =  ['atom_index','XX', 'YX', 'ZX', 'XY', 'YY', 'ZY', 'XZ','YZ', 'ZZ']
mst1 = mst.loc[indices, cols]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  after removing the cwd from sys.path.

In [122]:
mst1.head(30)

,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
1,1.0,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
1,1.0,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
1,1.0,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
1,1.0,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
2,2.0,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
2,2.0,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
2,2.0,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
3,3.0,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
3,3.0,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,4.0,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013
6,1.0,31.2593,5.6126,-2.1025,5.6136,37.4364,-3.5567,-2.4461,-4.1372,27.9884
6,1.0,31.2593,5.6126,-2.1025,5.6136,37.4364,-3.5567,-2.4461,-4.1372,27.9884
6,1.0,31.2593,5.6126,-2.1025,5.6136,37.4364,-3.5567,-2.4461,-4.1372,27.9884
7,2.0,31.0341,-5.4827,-2.0299,-5.4837,37.6618,3.5987,-2.3616,4.1861,27.9885
7,2.0,31.0341,-5.4827,-2.0299,-5.4837,37.6618,3.5987,-2.3616,4.1861,27.9885
8,3.0,40.7507,-0.1300,4.1318,-0.1300,27.9413,-0.0419,4.8083,-0.0488,27.9889
10,1.0,24.6745,0.0000,0.0000,0.0000,39.1730,-6.6879,0.0000,-8.8417,31.6296
14,2.0,24.3125,0.0000,0.0000,0.0000,24.3125,0.0000,0.0000,0.0000,39.0232
14,2.0,24.3125,0.0000,0.0000,0.0000,24.3125,0.0000,0.0000,0.0000,39.0232
17,2.0,31.7293,-2.8940,3.3643,-2.1656,29.7981,-3.3396,2.5174,-3.3395,30.8073
17,2.0,31.7293,-2.8940,3.3643,-2.1656,29.7981,-3.3396,2.5174,-3.3395,30.8073
17,2.0,31.7293,-2.8940,3.3643,-2.1656,29.7981,-3.3396,2.5174,-3.3395,30.8073
17,2.0,31.7293,-2.8940,3.3643,-2.1656,29.7981,-3.3396,2.5174,-3.3395,30.8073
17,2.0,31.7293,-2.8940,3.3643,-2.1656,29.7981,-3.3396,2.5174,-3.3395,30.8073
17,2.0,31.7293,-2.8940,3.3643,-2.1656,29.7981,-3.3396,2.5174,-3.3395,30.8073
17,2.0,31.7293,-2.8940,3.3643,-2.1656,29.7981,-3.3396,2.5174,-3.3395,30.8073
18,3.0,31.7292,-1.4667,-4.1883,-1.0976,27.6631,2.1074,-3.1340,2.1072,32.9420
18,3.0,31.7292,-1.4667,-4.1883,-1.0976,27.6631,2.1074,-3.1340,2.1072,32.9420
18,3.0,31.7292,-1.4667,-4.1883,-1.0976,27.6631,2.1074,-3.1340,2.1072,32.9420
18,3.0,31.7292,-1.4667,-4.1883,-1.0976,27.6631,2.1074,-3.1340,2.1072,32.9420

In [123]:
a.append(a[4658145])
indices = a
cols =  ['atom_index', 'mulliken_charge']
mc1 = mc.loc[indices, cols]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  after removing the cwd from sys.path.

mc1.head()

In [124]:
mc1.head(30)

    atom_index  mulliken_charge
1          1.0         0.133921
1          1.0         0.133921
1          1.0         0.133921
1          1.0         0.133921
2          2.0         0.133922
2          2.0         0.133922
2          2.0         0.133922
3          3.0         0.133923
3          3.0         0.133923
4          4.0         0.133923
6          1.0         0.235712
6          1.0         0.235712
6          1.0         0.235712
7          2.0         0.235712
7          2.0         0.235712
8          3.0         0.235720
10         1.0         0.294853
14         2.0         0.238128
14         2.0         0.238128
17         2.0         0.115222
17         2.0         0.115222
17         2.0         0.115222
17         2.0         0.115222
17         2.0         0.115222
17         2.0         0.115222
17         2.0         0.115222
18         3.0         0.115225
18         3.0         0.115225
18         3.0         0.115225
18         3.0         0.115225

In [125]:
mst1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4658147 entries, 1 to 3006379
Data columns (total 10 columns):
atom_index    float64
XX            float64
YX            float64
ZX            float64
XY            float64
YY            float64
ZY            float64
XZ            float64
YZ            float64
ZZ            float64
dtypes: float64(10)
memory usage: 390.9 MB

In [17]:
#        A
#        L
#        L
#
#        D
#        O
#        N
#        E
#
#        T
#        I
#        L
#        L
#
#        H
#        E
#        R
#        E


#the first atom's data in the atom pair is done.
#time for the second one
trainindex1 = train['atom_index_1'].tolist()

In [131]:
print(trainindex1[0])
print(trainindex1[1])
print(trainindex1[1]-trainindex1[0])
x = 0
y = 0
z = 0
w = []
v = 0
for x in range(0,4658145):
    w.append(y)
    if trainindex1[x+1]>trainindex1[x] and trainname[x] == trainname[x+1]:
        y = y+(trainindex1[x+1]-trainindex1[x])
    else:
        y = 0
    if trainname[x+1]!=trainname[x] or trainindex1[x+1]<trainindex1[x]:
        v += 1
    if trainname[x+1] != trainname[x]:
        y = v
    p = 0
    if p < trainindex1[x+1] and trainname[x+1] != trainname[x]:
        v = v + trainindex1[x+1]
        y = v
        
    x += 1
print(w)

0
2
2

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [132]:
w.append(w[4658144])
indices = w
cols =  ['atom_index','XX', 'YX', 'ZX', 'XY', 'YY', 'ZY', 'XZ','YZ', 'ZZ']
mst2 = mst.loc[indices, cols]

In [133]:
mst2.head(30)

,atom_index,XX,YX,ZX,XY,YY,ZY,XZ,YZ,ZZ
0,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
2,2,31.5814,1.2173,-4.1474,1.2173,28.9036,-1.6036,-4.1476,-1.6036,33.8967
3,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013
0,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
3,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
4,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013
0,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
4,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013
0,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
4,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013
6,1,31.2593,5.6126,-2.1025,5.6136,37.4364,-3.5567,-2.4461,-4.1372,27.9884
7,2,31.0341,-5.4827,-2.0299,-5.4837,37.6618,3.5987,-2.3616,4.1861,27.9885
0,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
3,3,31.5172,4.1086,1.2723,4.1088,33.9068,1.6950,1.2724,1.6951,28.9579
0,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
9,0,310.0960,0.0000,0.0000,0.0000,355.7730,0.0000,0.0000,0.0000,324.1550
10,1,24.6745,0.0000,0.0000,0.0000,39.1730,-6.6879,0.0000,-8.8417,31.6296
11,2,24.6745,0.0000,0.0000,0.0000,39.1730,6.6879,0.0000,8.8417,31.6296
11,2,24.6745,0.0000,0.0000,0.0000,39.1730,6.6879,0.0000,8.8417,31.6296
12,0,0.0482,0.0000,0.0000,0.0000,0.0482,0.0000,0.0000,0.0000,278.2650
14,2,24.3125,0.0000,0.0000,0.0000,24.3125,0.0000,0.0000,0.0000,39.0232
15,0,190.3620,0.0004,0.0008,0.0001,177.0150,0.0007,0.0008,0.0005,177.0100
16,1,190.3620,0.0005,0.0009,0.0002,177.0150,0.0006,0.0009,0.0007,177.0100
17,2,31.7293,-2.8940,3.3643,-2.1656,29.7981,-3.3396,2.5174,-3.3395,30.8073
18,3,31.7292,-1.4667,-4.1883,-1.0976,27.6631,2.1074,-3.1340,2.1072,32.9420
0,0,195.3150,0.0000,-0.0001,0.0000,195.3170,0.0007,-0.0001,0.0007,195.3170
1,1,31.3410,-1.2317,4.0544,-1.2317,28.9546,-1.7173,4.0546,-1.7173,34.0861
4,4,31.4029,-4.0942,-1.1793,-4.0944,34.0776,1.6259,-1.1795,1.6260,28.9013
5,0,275.6350,0.0003,0.0133,0.0003,275.6360,-0.0003,0.0161,-0.0004,237.4970

In [43]:
dsv=['123','345','2254']
str=dsv[1]
str[-1]

'5'

In [104]:
range(13)

SyntaxError: invalid syntax (<ipython-input-104-34941931e10b>, line 1)

In [ ]:
#by now mst1, mc1, train all have 4658147 entries.
#now deal with dipole moment
dm.head()

In [ ]:
h = 0
e = []
f = 0
g = 0
for h in range(0,4658146):
    if trainname[h] == trainname[h + 1]:
        e.append(f)
        g += 1
        h += 1
    else:
        e.append(f)
        f += 1
        g += 1
        h += 1

In [ ]:
e.append(e[4658145])
indices = e
cols =  ['molecule_name', 'X','Y','Z']
dm1 = dm.loc[indices, cols]